<div id="gitment" style="padding: 0 50px 0 50px"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    owner: 'damifan',
    repo: 'damifan.github.io',
    oauth: {
      client_id: '5a8f2ad6eb6d92d81ef1',
      client_secret: '4998c71bfca29312188c54318246402ab9c5ef89',
    },
  })
  gitment.render('gitment')
</script>
